/*------------------------------------*\
    #00 COLORS - 53
\*------------------------------------*/

$color-brand-blue: #1D4094;
$color-brand-green: #509236;
$color-brand-yellow: #FCC72E;

$color-blue-dark: #13285C;
$color-blue-light: #E4F2FA;
$color-green-light: #E5EEE3;
$color-green-dark: #275f0f;
$color-link-hover: #2a6496;

$color-white: #fff;

$color-gray-border: #bebfbf;
$color-gray-02: #F9F9F9;
$color-gray-03: #F1F1F1;
$color-gray-10: #e6e6e6;
$color-gray-75: #3E3E3E;
$color-gray-80: #333333;

$color-twitter: #61A7D7;


/*------------------------------------*\
    #00 COLORS - WAM
\*------------------------------------*/

$color-wam-blue-dark: #002c76;
$color-wam-blue-dark-hover: #2d63e0;
$color-wam-blue-gray: #485674;
$color-wam-blue-gray-dark: #E1E7EB;
$color-wam-blue-gray-darker: #97999b;
$color-wam-blue-slate: #5a6580;
$color-wam-blue-light: $color-blue-light;

/*------------------------------------*\
    #00 COLORS - UTILTIES
\*------------------------------------*/
$color-utility-red: #C4022B;


/*------------------------------------*\
    #HEADER & NAV
\*------------------------------------*/

// NAV COLORS - TODO: REFACTOR TO COLOR SECTION
$color-1: $color-gray-03;
$color-2: #69aa6f; // green
$color-3: #e2e3df; // grey light
$color-4: $color-gray-80;

