/*------------------------------------*\
    04 OBJECTS: Cosmetic-free design patterns
\*------------------------------------*/

/*

  * Wrappers.............Wrappers and page constraints.
  * Buttons..............inuitcss’ buttons module.
  * Layout...............inuitcss’ layout tool.
  * Box..................inuitcss’ box object.
  * Media................The media object.
  * Flag.................The flag object.
  * UI list..............inuitcss’ UI list.
  *
  * OOCSS.
  * Design Patterns
  * No Cosmetics
  * Begin usingclasses exclusively
  * Agnostically named [e.g. .ui-list]
  * First layer to use classes

  Examples:
    .ui-list{
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .ui-list__item {
      padding: $spacing-unit;
    }

*/



